.flex-container{
    padding: 1em;
    border: 2px solid blue;
    width: 400px;
    display: flex;
}

.flex-item{
    padding: 20px;
    border: 2px solid black;
    background: #eeeeee;
    flex-basis: 300px;
}
p{
    margin: 0;
}

.flex-basis-5em  .flex-item{
    flex-basis: 5em;
}

.flex-shrink-zero .flex-item{
    flex-basis: 5em;
    flex-shrink: 0;
}

.flex-grow-one {
    width: 900px;
}

.flex-grow-one .flex-item{
    flex-basis: 5em;
    flex-grow: 1;
}