.box_model{
    border: 2px solid rgb(208, 200, 200);
    margin: 20px auto ;
    padding: 0px 30px 10px 30px;
    width: 70%;
    border-radius: 5px;
    font-family: Lato ,sans-serif;
}



header p:first-of-type {
    font-weight: 600;
    font-size: 1.2em;
}

.footer-font{
    font-style: italic;
}

.bold_font{
    font-weight: bold;
}

