.flex-container{
    width: 400px;
    border: 2px solid blue;
    padding: 1em;
    height: 200px;
    align-items: flex-start;
    flex-wrap:wrap;
    display: flex;

}

.flex-item{
   padding: 20px;
    border: 1px solid black;
    background: grey;
}
p {
    margin: 0;
}

.align-content-flex-start{
    align-content: flex-start;
}

.align-content-center{
    align-content: center;
}

.align-content-flex-end{
    align-content: flex-end;
}

.align-content-space-between{
    align-content: space-between;
}

.align-content-space-around{
    align-content: space-around;
}