.flex-container{
    padding: 1em;
    border: 2px solid blue;
    width: 400px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item{
    padding: 20px;
    border: 2px solid black;
    background: #eeeeee;
}
p{
    margin: 0;
}

.flex-grow-one .flex-item{
    flex-grow: 1;
}

.flex-grow-2nd-only .second{
    flex-grow: 1;
}

.flex-grow-proportional .grow-1{
    flex-grow: 1;
}

.flex-grow-proportional .grow-2{
    flex-grow: 2;
}

.flex-grow-proportional .grow-3{
    flex-grow: 3;
}