*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body{background-color: rgb(245, 245, 245);}

.navi-box{
    width: 90%;
    margin: 20px auto;
    padding: 1px;
    border: 1px solid gray;
    border-radius: 3px;
    background: silver;
}

.navi-item{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.navi-item>a{
    padding: 20px;
     border: 1px solid gray;
    border-radius: 3px;
    background: white;
    color: orange;
}