.flex-container{
    padding: 1em;
    border: 2px solid blue;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: flex-start;
}

.flex-item{
    padding: 20px;
    border: 2px solid black;
    background: #eeeeee;
    flex-basis: 300px;
}
p{
    margin: 0;
}

.align-self-flex-start{
    align-self: flex-start;
}

.align-self-center{
    align-self: center;
}

.align-self-flex-end{
    align-self: flex-end;
}

.align-self-baseline{
    align-self: baseline;
}